absl-py==2.0.0
aenum==3.1.15
aiohttp==3.9.1
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
black==23.12.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cmake==3.28.1
contourpy==1.1.1
cycler==0.12.1
docker-pycreds==0.4.0
filelock==3.13.1
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.12.2
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.2
google-auth-oauthlib==1.0.0
grpcio==1.60.0
hub_sdk
hydra-core==1.3.2
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
iopath==0.1.9
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
#lightly==1.4.24
#lightly-utils==0.0.2
lightning-utilities==0.10.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.4
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
numpy==1.24.4
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.15.0
opencv-python
openmim
packaging==23.2
pathspec==0.12.1
Pillow==10.1.0
platformdirs==4.1.0
portalocker==2.8.2
protobuf==4.25.1
psutil==5.9.7
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pydantic==1.10.13
pyparsing==3.1.1
python-dateutil==2.8.2
pytorch-lightning==1.9.5
PyYAML==6.0.1
requests
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.2
scipy==1.10.1
seaborn
sentry-sdk==1.39.1
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.2.0
tomli==2.0.1
torchmetrics==1.2.1
tqdm==4.66.1
#triton==2.1.0
typing_extensions==4.9.0
urllib3==2.1.0
wandb
webcolors==1.13
Werkzeug==3.0.1
yacs==0.1.8
yarl==1.9.4
zipp==3.17.0